{% extends 'base.html.twig' %}


{% block body %}
    {% include 'header.html.twig' %}
    <div class="half">
        <div class="issue-list" id="list">


        </div>
        <div class="logo-big"></div>
    </div>
{% endblock %}