{% extends 'base.html.twig' %}


{% block body %}
    {% include 'header.html.twig' %}
    <div class="half">
        <div class="issue-list" id="list">

        </div>
        <div class="logo-big center-items">
            <p class="text-big">Full Stack Developer Task</p>
            <p class="text-secondary">by <span class="logo-small"></span></p>
        </div>
    </div>
{% endblock %}