{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="form-container" >
        <div id="issue-form" data-id="{{ id }}">

        </div>
    </div>
{% endblock %}