{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="form-container">
        <div class="issue-container" >
            <div id="issue-form" class="issue-form" data-id="{{ id }}">

            </div>
        </div>
    </div>
{% endblock %}